@mixin center($size) {
  width: $size;
  display: flex;
  justify-content: center;
  align-items: center;
}
$color: royalblue; /* 유효범위 활성화, const 사용 가능 */

.container { /* & => 상위선택자 참조, 치환. 해당 범위에 있는 선택자*/
  @include center(200px); /* 재활용 mixins */
  ul{
    font: { /* 중첩 속성 */
      weigt: bold;
      size: 30px;
      family: sans-serif;
    };
    li{ 
      .name{
        @include center(200px);
        $size: 50px;
        color: $color;
        margin: (30px / 2); /* 산술 연산 시, 괄호 필요 + 동일한 단위 */
        padding: $size % 7; /* 변수 사용 시, 괄호 X */
      }
    }
    li{
      .age{
        @include center(100px); 
        color: orchid;
      }
    }
  }
}