.box{
  width: 100px;
  height: 100px;
  background: orange;
  transition: 1s;
}

.box:hover{
  width: 300px;
  background: royalblue;
}

.box:active{
  height: 50px;
  background: slateblue;
}

input:focus{
  background-color: orange;
}